<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Descripción de este proyecto
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body">
  En esta plataforma, los alumnos de la UTN encontrarán una amplia gama de contenido relacionado con el liderazgo, abordarán diferentes estilos de liderazgo, estrategias para inspirar y motivar equipos, habilidades de comunicación, toma de decisiones y resolución de conflictos, entre otros temas esenciales para el desarrollo de líderes exitosos.
  </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          Misión
                </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">
           Nuestro sitio web tiene como propósito ofrecer un espacio en línea donde los alumnos puedan adquirir conocimientos, habilidades y herramientas basados en la materia de Formación Sociocultural III como apoyo, esto para desarrollar su capacidad de liderazgo efectivo y mejorar sus habilidades de negociación.
           <br> 
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          Visión
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
        <div class="accordion-body">
          Es empoderar a los alumnos para que se conviertan en líderes efectivos y hábiles negociadores, capaces de influir positivamente en sus equipos y organizaciones, y de manejar situaciones complejas con confianza y éxito. Esperamos que esta plataforma se convierta en un punto de referencia para aquellos que buscan mejorar sus habilidades, y asi contribuir al crecimiento y desarrollo personal y profesional de cada individuo y su entorno. ¡Únete a nosotros y comencemos este emocionante viaje hacia el liderazgo y la negociación efectiva!
        </div>
      </div>
    </div>

  <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
          Herramientas utilizadas para el desarrollo
        </button>
      </h2>
      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
        <div class="accordion-body">
           <strong>Visual Estudio Code:</strong>
            En esta aplicación se hizo el desarrollo del código y la base de datos para la funcionalidad. <br>
           <strong>Note.js:</strong>
            Este se instala dentro de Visual Estudio para que pueda leer el código. <br>
           <strong>Php MyAdmin:</strong>
            Este sitio nos permite crear la base de datos. <br>
           <strong>Xampp:</strong>
            Esta herramienta se utilizó para conectar la base de datos. <br>
            <strong>bootstrap:</strong>
            Esta página nos ayudó para darle los estilos a nuestro sitio web.
        </div>
      </div>
    </div>
  </div>
</div>
  
  
  
<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h3>&#169 Derechos reservados</h3>
              <p></p>
          </div>
          <div class="col-md-4">
              <h3>Universidad Tecnológica De Nezahualcóyotl</h3>
              <p>
                  Grupo IC-31M <br>
                  Generación 2023 <br>
                  División de Informática y Computación
              </p>
          </div>
          <div class="col-md-4">
              <h3>Desarrolladores</h3>
              <ul>
                    De La Cruz Gama Ares <br>
                      Miguel Velasco Samuel <br>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</footer>

<script src="bootstrap/js/bootstrap.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>