<header>
    <section class="textos-header">
        <h1>Consejos</h1>
        <h2>Aquí podrás consultar consejos y recomendaciones para tus exposiciones y clases que te servirán a lo largo de tu cuatrimestre</h2>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M-0.00,49.85 C150.00,149.60 349.20,-49.85 500.00,49.85 L500.00,149.60 L-0.00,149.60 Z" style="stroke: none; fill: #fff;"></path>
        </svg>
    </div>
</header>

<section class="contenedor sobre-liderazgo">
    <div class="container">
        <div class="contenedor-sobre-liderazgo">
            <div class="contenido-textos">
                <h3><span></span>Puntualidad</h3>
                <p>1. ¡LLEGA TEMPRANO! Si es posible, 10 minutos antes de que comience tu clase. Recuerda que la puntualidad hablará bien de ti siempre.<br>
                2. Entrega tus trabajos y tareas a tiempo.<br>
                3. Asegúrate de seguir todas las indicaciones de la maestra y evita posponer las tareas.</p>
                <h3><span></span>Presentación</h3>
                <p>1. Al exponer o hacer un examen, vístete formalmente y considera usar traje y corbata.<br>
                2. Si trabajas en equipo, asegúrate de que todos los miembros vistan de manera formal.<br>
                3. Saluda a la profesora y compañeros cuando entres al salón (Sin interrumpir).</p>
                <h3><span></span>Exposiciones</h3>
                <p>1. Prepara tus temas de manera concisa pero efectiva para la presentación.<br>
                2. Estudia lo que vas a decir, evita leer las diapositivas, recuerda que solo son un apoyo.<br>
                3. Respira y habla claro.<br>
                4. Si no estás exponiendo y necesitas ir al sanitario, evita salir cuando el profesor y/o compañeros estén hablando.<br>
                5. Practica frente al espejo, hazlo de diferentes formas: solo frente al espejo, con algún familiar o amigo, grábate en video o en audio.<br>
                6. Prepárate para las preguntas de tu profesor y/o compañeros.</p>
                <h3><span></span>Exámenes</h3>
                <p>1. Al ingresar al aula, asegúrate de que aún no empiezan los compañeros o la maestra esté dando indicaciones.<br>
                2. En el examen, siempre recuerda sentarte de la siguiente manera: Una banca "SI"; Dos "NO".<br>
                3. ¡LLEGA TEMPRANO!<br><br>
                <h3><span></span>En clase</h3>
                <p>1. Presta toda tu atención a la clase (evita distracciones). <br>
                2. Participa activamente (Probablemente sea considerado en tu evaluación). <br>
                3. Toma apuntes, utiliza tu cuaderno para anotar lo más importante de la clase. <br>
                4. No entres con alimentos ni bebidas al salón. <br>
                5. No uses tu celular a menos que sea necesarios. <br>
                6. No dudes en hacer preguntas si algo no te quedo claro.  </p>
                "Porque ya pasamos por eso, te ayudamos a ser un mejor Alumno."</p>
            </div>
        </div>
    </div>
</section>


<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h3>&#169 Derechos reservados</h3>
              <p></p>
          </div>
          <div class="col-md-4">
              <h3>Universidad Tecnológica De Nezahualcóyotl</h3>
              <p>
                División De Informática y Computación <br>
                Carrera: Desarrollo de software multiplataforma
                  Grupo IC-31M <br>
                  Generación 2023
              </p>
          </div>
          <div class="col-md-4">
              <h3>Desarrolladores:</h3>
              <ul>
                     De La Cruz Gama Ares <br>
                      Miguel Velasco Samuel <br>
                      
                  
              </ul>
          </div>
      </div>
  </div>
</footer>


<script src="bootstrap/js/bootstrap.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>