<div class="container">
    <div class="card" style="margin-top: 80px;">
        <div class="card-body">
            <form class="form-signin" method="post" action="/login">
            <div class="row">
                <div class="col-md 4">
                </div>
                <div class="col-md 4">
                    <img class="mb-4 rounded mx-auto d-block" src="/images/utn_256.png" alt="" width="128" height="128">
                    <h4 class="h3 mb-3 front-weigth-normal">Ingresar</h4>
                    <label for="username" class="sr-only">Nombre de Usuario</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="" autofocus><br>
                    <label for="password" class="sr-only">Contraseña</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="" required><br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
                    <p class="text-primary" style="font-size: small;">¿Todavía no estás registrado?
                        <a href="/registro"><strong>Registrate</a></strong>&nbsp;
                    </p>

                </div>
                <div class="col-md 4">
                    
                </div>
            </div>
            </form>
        </div>
    </div>
</div>