<header><section class="textos-header">
    <h1>Unidad II</h1>
    <h2> Negociación y toma de decisiones</h2>
  </section>
  <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
  <path d="M-0.00,49.85 C150.00,149.60 349.20,-49.85 500.00,49.85 L500.00,149.60 L-0.00,149.60 Z" style="stroke: none; fill: #fff;"></path></svg></div>
  </header>
  
  
    <section class="contenedor sobre-liderazgo">
      <div class="container">
      <div class="contenedor-sobre-liderazgo">
        <img src="IMG/Lider-Fond.webp" alt="" class="imagen-about-us">
        <div class="contenido-textos">
          <h3 ><span>1</span>Negociación</h3>
          <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
  ¿Que es la negociación?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
  Es un proceso en el cual dos o más partes involucradas buscan resolver un conflicto, alcanzar un acuerdo o llegar a una solución mutuamente beneficiosa. 
       
</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
  Técnicas de negociación
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Preparación:</strong> 
          Comprende sus objetivos, necesidades y restricciones. Prepárate también para defender tus propias posiciones con argumentos sólidos.
   <br>  <strong>Establecer una relación positiva:</strong> 
   Escucha activamente, muestra empatía y evita confrontaciones innecesarias.
   <br>  <strong>Establecer objetivos claros:</strong> 
  Define tus objetivos y límites antes de entrar en la negociación. <br>
  <strong>Generar alternativas:</strong>  
  Piensa en diferentes soluciones que puedan satisfacer tus objetivos y los de la otra parte. Cuantas más opciones haya sobre la mesa, más flexibilidad tendrás para llegar a un acuerdo. <br>
  <strong>Controla las emociones:</strong>
   Mantén la calma y la compostura, incluso en situaciones tensas. Las emociones excesivas pueden obstaculizar la capacidad de tomar decisiones racionales.
        </div>
      </div>
    </div>

 <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsethree" aria-expanded="false" aria-controls="collapsethree">
  Tipos de negociación
        </button>
      </h2>
      <div id="collapsethree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>GANAR-GANAR  #1:</strong> 
          Se basa en la idea de que es posible encontrar soluciones que beneficien a todas las partes involucradas en la negociación. 
   <br>  <strong>GANAR-PERDER #2:</strong> 
  Esta técnica implica una mentalidad competitiva, donde una parte intenta obtener la mayor parte de los beneficios o recursos disponibles.
   <br>  <strong>PERDER-PERDER #3:</strong> 
  Ambas partes terminan perdiendo y la negociación resulta en un resultado insatisfactorio para ambas partes.
  <br>  <strong>PERDER-GANAR #4:</strong> 
  Una parte está dispuesta a "perder" en términos de obtener menos de lo que originalmente quería, mientras que la otra parte "gana" al obtener lo que buscaba.
   
        </div>
      </div>
    </div>

   <section class="portafolio">
      <div class="contenedor">
        <div class="galeria-port">
          <div class="imagen-port">
            <img src="/images/neg.webp" alt="">
         
          </div>
          <!--imagen 2-->
          <div class="imagen-port">
            <img src="images/Liderazgo-democratico.png" alt="">
            <div class="hover-galeria">
           
            </div>
          </div>
      </div>
    </div>
  </div>
  </section>
  <section class="contenedor sobre-liderazgo">
      <div class="container">
      <div class="contenedor-sobre-liderazgo">
        <div class="contenido-textos">
          <h3 ><span>2</span>Toma De Decisiones</h3>
          <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          ¿Qué es la Toma De Decisiones?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Es un proceso mediante el cual una persona o un grupo de individuos selecciona una opción o curso de acción entre varias alternativas posibles para resolver un problema, alcanzar un objetivo o enfrentar una situación particular. <br>
          Es una habilidad esencial en la vida cotidiana, en el ámbito personal, profesional y social.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Proceso de toma de decisiones
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>  1. Identificación del problema u oportunidad: </strong>El primer paso es reconocer y definir claramente cuál es el problema que necesita ser resuelto o la oportunidad que debe ser aprovechada. Cuanto más específica sea esta identificación, más enfocado será el proceso de toma de decisiones.
<br>
       <strong></strong>   Recolección de información: Una vez que el problema u oportunidad está definido, se recopila información relevante. Esto podría involucrar la búsqueda de datos, hechos, estadísticas y opiniones de expertos que ayuden a comprender la situación en su totalidad.
    <br>      
     <strong>     2. Identificación de alternativas: </strong>En esta etapa, se generan varias alternativas posibles para abordar el problema u aprovechar la oportunidad. Cuantas más opciones se generen, más amplio será el espectro de posibilidades a considerar.
        <br>  
        <strong> 3. Evaluación de alternativas:</strong> Cada alternativa se evalúa en función de criterios predefinidos. Estos criterios pueden incluir factores como viabilidad, costo, beneficios, riesgos, impacto a largo plazo y otros aspectos relevantes. El objetivo es determinar las ventajas y desventajas de cada opción.
          <br>
       <strong>   4. Toma de decisión:</strong> Una vez que todas las alternativas han sido evaluadas, se elige la opción que mejor se alinee con los objetivos y criterios establecidos. Esta elección puede basarse en la información recopilada, el análisis y la intuición del decisor.
          <br>
         <strong> 5. Implementación:</strong> Una vez tomada la decisión, se pone en marcha el plan para llevar a cabo la opción elegida. Esto puede implicar asignar recursos, establecer un cronograma y definir los pasos específicos necesarios para ejecutar la decisión.
          <br>
        <strong> 6. Seguimiento y control: </strong>Después de implementar la decisión, es importante monitorear su progreso y resultados. Si es necesario, se pueden realizar ajustes para asegurarse de que la decisión esté logrando los resultados deseados.
        </div>
      </div>
    </div>
  </div>
         <section class="portafolio">
      <div class="contenedor">
        <div class="galeria-port">
          <div class="imagen-port">
            <img src="/images/toma1.jpg" alt="">
         
          </div>
          <!--imagen 2-->
          <div class="imagen-port">
            <img src="images/toma2.jpg" alt="">
            
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        
    </div>
  </div>
  </div>
         </section>






<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h3>&#169 Derechos reservados</h3>
              <p></p>
          </div>
          <div class="col-md-4">
              <h3>Universidad Tecnológica De Nezahualcóyotl</h3>
              <p>
                División De Informática y Computación <br>
                Carrera: Desarrollo de software multiplataforma
                  Grupo: IC-31M <br>
                  Generación 2022
              </p>
          </div>
          <div class="col-md-4">
              <h3>Desarrolladores:</h3>
              <ul>
                     De La Cruz Gama Ares <br>
                      Miguel Velasco Samuel <br>
                      
                  
              </ul>
          </div>
      </div>
  </div>
</footer>


<script src="bootstrap/js/bootstrap.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>