<header><section class="textos-header">
    <h1>Unidad I</h1>
    <h2> Liderazgo y Estilos de Liderazgo</h2>
  </section>
  <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
  <path d="M-0.00,49.85 C150.00,149.60 349.20,-49.85 500.00,49.85 L500.00,149.60 L-0.00,149.60 Z" style="stroke: none; fill: #fff;"></path></svg></div>
  </header>
  
   <section class="contenedor sobre-liderazgo">
      <div class="">
   
      <div class="contenedor-sobre-liderazgo">
        <div class="contenido-textos">
          <h3><span>1</span>¿Qué es el liderazgo y cuál es la funcionalidad de un líder?</h3>
          <p>Es una capacidad de influir y guiar a otros hacia metas compartidas para lograr un objetivo en común.
              Es una habilidad que puede desarrollarse y perfeccionarse a lo largo del tiempo.<br>
              El líder ejerce autoridad (cargo jerárquico que otorga poder) debido a su posición; se basa en la
              habilidad de inspirar, motivar y generar cambios positivos en las personas que lo siguen.</p>
          
          
          
          <h3><span>2</span>¿Qué es la asertividad?</h3>
          <p>Se refiere a la habilidad de expresar opiniones, necesidades y deseos de manera clara, directa y respetuosa.<br>
              Los líderes asertivos son capaces de comunicarse de manera efectiva, establecer límites adecuados y defender sus propias ideas
              y valores, al mismo tiempo que escuchan y respetan las perspectivas de los demás.</p>
<h3><span>3</span>¿Cómo desarrollar la asertividad?</h3>
<p>Requiere práctica y autoconocimiento. Implica reconocer tus propias necesidades y deseos, así como
ser capaz de expresarlos sin temor a la crítica o al rechazo, también involucra ser capaz de decir "no" cuando sea
necesario, sin sentir culpa ni generar conflictos innecesarios.</p>

<h3>Pasos para ser más asertivo:</h3><p>
1. Conócete a ti mismo: Tómate el tiempo para reflexionar sobre lo que sientes y lo que realmente quieres expresar.
 <br> <br>
2. Practica la escucha activa: Presta atención a sus opiniones y puntos de vista, mostrando interés y empatía.
<br> <br>
3. Utiliza el "Yo" en tus afirmaciones: Esto hace que tus expresiones sean más personales y evita que los demás se sientan atacados.
<br> <br>
4. Sé directo pero respetuoso: Evita ser agresivo o pasivo en tu comunicación.
<br> <br>
5. Aprende a decir "no": Si no puedes cumplir con una solicitud o no estás de acuerdo, explícalo de manera honesta y sin sentirte culpable.
<br> <br>
6. Practica el lenguaje corporal: Tu lenguaje corporal también juega un papel importante en la asertividad. Mantén el contacto visual, mantén una postura abierta y relajada, y evita gestos o expresiones que puedan transmitir inseguridad.
<br> <br>
7. Aprende a recibir críticas: Escucha atentamente, agradece la retroalimentación y, si es necesario, pide más detalles para comprender mejor.
<br> <br>
8. Gestiona tus emociones: Aprende a controlar tus emociones para poder expresarte de manera efectiva sin que las emociones negativas dominen la conversación.
</p>

<p>En resumen, la asertividad es una habilidad esencial para el liderazgo efectivo. Los líderes asertivos son capaces de construir
relaciones más sólidas y saludables, tomar decisiones claras y respetar tanto sus propias necesidades como la de los demás.</p>
              
          <h3><span>3</span>¿Qué son los estilos de Liderazgo?</h3>
          <p>Son los métodos y comportamientos que asume el líder al dirigirse al equipo.</p>
      </div>
  </div>
</section>

    <!--Secccion3-->
    <section class="portafolio">
      <div class="contenedor">
        <h2 class="titulo">Estilos de Liderazgo</h2>
        <div class="galeria-port">
          <div class="imagen-port">
            <img src="/images/Liderazgo-autoritario.png" alt="">
            <div class="hover-galeria">
              <img src="" alt="">
               <h2>Autoritario</h2>
      <p>Se caracteriza por una toma de decisiones centralizada y un alto nivel de control por parte del líder. El líder dicta las decisiones sin consultar a los miembros del equipo.</p>
            </div>
          </div>
          <!--imagen 2-->
          <div class="imagen-port">
            <img src="images/Liderazgo-democratico.png" alt="">
            <div class="hover-galeria">
              <img src="" alt="">
              <h2>Democrático</h2>
              <p>Se enfoca en la participación de los miembros del equipo en la toma de decisiones y la colaboración.
                Fomenta la comunicación abierta y las opiniones de todos los miembros del equipo.
                </p>
            </div>
          </div>
          <!-- imagen 3 -->
          <div class="imagen-port">
            <img src="images/Liderazgo-burocratico.jpg" alt="">
            <div class="hover-galeria">
              <img src="" alt="">
              <h2>Burocrático</h2>
              <p>Se basa en la adhesión a normas, reglas y procedimientos establecidos. El líder se centra en mantener la estructura y la eficiencia organizativa,
                 siguiendo rigurosamente los protocolos establecidos.</p>
            </div>
          </div>
          <!--imagen 4-->
          <div class="imagen-port">
            <img src="images/que-es-el-liderazgo-laissez-faire.webp" alt="">
            <div class="hover-galeria">
              <img src="" alt="">
              <h2>Laissez-Faire</h2>
              <p>En este estilo, el líder adopta un enfoque de "dejar hacer" y otorga una gran autonomía a los miembros del equipo para tomar decisiones y llevar a cabo sus tareas. Puede ser efectivo en equipos altamente competentes y autodirigidos.</p>
            </div>
          </div>
          <!--imagen 5-->
          <div class="imagen-port">
            <img src="images/liderazgo-transaccional.png" alt="">
            <div class="hover-galeria">
              <img src="" alt="">
              <h2>Transaccional</h2>
              <p>Es aquel que busca la mejora de resultados, estableciendo incentivos positivos o penalizaciones, si se alcanzan los objetivos operativos previamente establecidos.
                La finalidad es premiar a quien cumple con las metas y castigar a quien no las logra. </p>
            </div>
          </div>
          <!--imagen 6-->
          <div class="imagen-port">
            <img src="images/liderazgo-transformacional.png" alt="">
            <div class="hover-galeria">
              <img src="" alt="">
              <h2>Transformacional</h2>
              <p>Se centra en inspirar y motivar a los seguidores para lograr un cambio significativo y positivo.
                Se enfoca el capital humano, como el recurso clave para la transformación organizacional en generar un impacto duradero y en elevar tanto el rendimiento individual como el colectivo.
              </p>
            </div>
          </div>
          <!--imagen 7-->
       
          <!--imagen 8-->
          <div class="imagen-port">
            <img src="images/liderazgo-situacional.png" alt="">
            <div class="hover-galeria">
              <img src="" alt="">
              <h2>Situacional</h2>
              <p> Este enfoque implica adaptar el estilo de liderazgo según la situación y las necesidades del equipo. El líder evalúa la madurez y las habilidades de los empleados para determinar la mejor manera de guiarlos en ese momento.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!--Secccion4-->
    <section class="clientes-contenedor">
      <!--<div class="contenedor">-->
      <h2 id="h3" class="titulo">Otra definición de liderazgo</h2><br>
      <div class="cards">
          <div class="card">
            <img src="images/Libro.png" alt="">
            <div class="contenido-texto-card">
              <p>Richard L. Daft define en su libro “La experiencia del liderazgo”, al liderazgo como una relación de influencia entre un líder y sus seguidores en la que se pretende generar un cambio y llegar a resultados reales que reflejen los propósitos compartidos.
                Los elementos de esta relación son: líder, influencia, intención, responsabilidad, cambio, propósito compartido y seguidores.
                </p>
            </div>
          </div>
      </div>  
          
         
    <!--</div>-->
    </section>
<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h3>&#169 Derechos reservados</h3>
              <p></p>
          </div>
          <div class="col-md-4">
              <h3>Universidad Tecnológica De Nezahualcóyotl</h3>
              <p>
                División De Informática y Computación <br>
                Carrera: Desarrollo de software multiplataforma
                  Grupo: IC-31M <br>
                  Generación 2022
              </p>
          </div>
          <div class="col-md-4">
              <h3>Desarrolladores:</h3>
              <ul>
                    De La Cruz Gama Ares <br>
                      Miguel Velasco Samuel <br>
                  
              </ul>
          </div>
      </div>
  </div>
</footer>


<script src="bootstrap/js/bootstrap.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>